<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <dependencySets>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <excludes>
                <exclude>org.elasticsearch:elasticsearch</exclude>
            </excludes>
        </dependencySet>
        <dependencySet>
            <outputDirectory>/</outputDirectory>
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
            <includes>
                <include>org.apache.jclouds:jclouds-core</include>
                <include>rg.apache.jclouds.api:openstack-keystone</include>
                <include>rg.apache.jclouds.api:rackspace-cloudidentity</include>
                <include>org.apache.jclouds.provider:rackspace-cloudservers-us</include>
                <include>org.apache.jclouds:jclouds-blobstore</include>
                <include>org.apache.jclouds.labs:rackspace-cloudfiles-us</include>
                <include>org.apache.jclouds.labs:openstack-swift</include>
            </includes>
        </dependencySet>
    </dependencySets>
</assembly>